

* {
    margin: 0%;
    padding: 0%;
    
}

header{ background: url(imagens/INICIO.png) no-repeat;
background-size: 100% 100%;
text-align: center;

}

h3{
    margin: 8%;
    right: 62%;
    position: absolute;
    top: 39%;
    color: rgb(255, 255, 255);
}

img.img1{ 
    background: url(imagens/textoo.png);
    
    position: absolute;
    top: 30%;
    right: 62%;

}

img.img2{
    margin: 1%;
    position: absolute;
    top: 8%;
    left: 50%;

}


h2.h21{

    align-items: center;
    left: 45%;
    position: absolute;
    top: 130%;
    color: blueviolet;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 25px;
    border: 10px;

    }
    
   
   a{
    color: aquamarine;
    text-decoration: none;
   }
   

p.p1{
       
        position: absolute;
        top: 115%;
        left: 40%;
        color: rgba(127, 255, 212, 0.384)
    
}
 


    a.link1{ 
        margin: 10%;
        position: absolute;
        top: 120%;
        left: 37%;
        color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
        text-decoration: none;
    }

    a.link2{ 
        margin: 10%;
        position: absolute;
        top: 125%;
        left: 37%;
        color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
        text-decoration: none;
      
    }
    a.link3{ 
        margin: 10%;
        position: absolute;
        top: 130%;
        left: 37%;
        color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
        text-decoration: none;
  }

    

   
    
    h4.h41{
        
        text-align: center;
        position: absolute;
        top: 90%;
    
    }
    
    body{ 
        background: url(imagens/fundo.png);

}

   h2.h22{

    left: 10%;
    position: absolute;
    top: 150%;
    color: blueviolet;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 25px;
    border: 10px;

    }
    
   p.li1 {
    left: 15%;
    position: absolute;
    top: 160%;
    color: aquamarine;
    background-color: blueviolet;
    border-radius: 30px;
    border: 3px;
    padding: 5px;
}

    p.li2 {
       left: 15%;
        position: absolute;
        top: 165%;;
        color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;

    }
    p.li3 {
        left: 15%;
        position: absolute;
        top: 170%;
        color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
    }

   
h2.h23{
    left: 79%;
    position: absolute;
    top: 150%;
    color: blueviolet;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 25px;
    border: 10px;
}
   
    
p.p4{
    position: absolute;
    top: 160%;
    left: 82%;
    color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
        text-decoration: none;
}
p.p5{
    position: absolute;
    top: 165%;
    left: 82%;
    color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
        
  
}
p.p6{
    position: absolute;
    left: 82%;
    top: 170%;
    color: aquamarine;
        background-color: blueviolet;
        border-radius: 30px;
        border: 3px;
        padding: 5px;
        
    
}

img.img3{
top: 160%;
position: absolute;
height: 30px;
left: 79%;
}

img.img4{
    top: 165%;
    position: absolute;
    height: 25px;
    left: 78%;
}

img.img5{
    top: 170%;
    position: absolute;
    height: 30px;
    left: 79%;
}