

* {
    margin: 0%;
    padding: 0%;
    
}

body{ 
    background: rgb(14, 0, 41);

 }

 .topo{
    background-color: rgb(30, 1, 58);
    width: 100vw;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 10px 20px -8px rgba(128, 228, 195, 0.63);
    
    
   
 }

 .title-inicial{
    width: 50vw;
    color: aquamarine;
     position: absolute;
     top: 40%;
     left: 2%;
     text-transform: uppercase;
     letter-spacing: 3px;
     
     


 }
 .h2-inicial{
    width: 50vw;
    color: azure;
    position: absolute;
    top: 50%;
    left: 1%;
    right: 80%;
    font-family: monospace;
    letter-spacing: 1px;






 }

img.img2{
    width: 90%;
    margin: 1%;
    position: absolute;
    top: 2%;
    left: 50%;
   

}
.work-inicial{
    width: 7vw;
    position: absolute;
    top: 2%;
    left: 72%;
    text-decoration: none;
    color: aquamarine;
    border: none;
    border-radius: 20px;
    text-align: center;
   

    
}
.work-inicial:hover{
        
        background: rgb(73, 1, 141);
        color: aquamarine;
        
        
        

}

.ctts-inicial{

    width: 10vw;
    position: absolute;
    top: 2%;
    left: 90%;
    text-decoration: none;
    color: aquamarine;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.ctts-inicial:hover{
    background: rgb(73, 1, 141);
    color: aquamarine;
  
}

.conhe-inicial{
    width: 10vw;
    position: absolute;
    top: 2%;
    left: 80%;
    text-decoration: none;
    color: aquamarine;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.conhe-inicial:hover{
    background: rgb(73, 1, 141);
    color: aquamarine;

}
.insta-inicial{
    width: 2vw;
    position: absolute;
    top: 95%; ;

}

.link-inicial{
left: 3%;
width: 2vw;
position: absolute;
top: 95%; 
}

.git-inicial{
left: 6%;
width: 2vw;
position: absolute;
top: 95%; 

}