
/* formulario*/ 


h1.h1form{
    text-align: center;
   color: aquamarine;
    font-variant: small-caps;
}

h3.h3form{
text-align: center;
color: #e5b3ef;
}


h2{
    color: aquamarine
}


body{
    background: url(../imagens/fundo2.jpg);
}

p.um{
color: #e5b3ef;
}
p.dois{
    color: #e5b3ef;
}
p.tres{
    color: #e5b3ef;
}

p.quatro{
    color: #e5b3ef;
}

p.cinco{
    color: #e5b3ef;
}

p.seis{
    color: #e5b3ef;
}

    
a.aform{
    position: absolute;
    top: 65%;
    left: 2%;
    text-align: center;
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 20px;
    padding: 9px;
    position: absolute;
    color: black;
    text-decoration: none;
    font-size: large;
}
h4.h4form{
    left: 38%;
    position: absolute;
    top: 80%;
    color: #e5b3ef;
}
h3.h32form{
    left: 50%;
    position: absolute;
    top: 88%;
    color: aquamarine;
}

a.gform{
    left: 40%;
    position: absolute;
    top: 95%;
    color: #e5b3ef;
    text-decoration: none;
}

a.lform{
    left: 60%;
    position: absolute;
    top: 95%;
    color: #e5b3ef;
    text-decoration: none;
}

/*home*/

body{
    background: url(../imagens/fundo2.jpg);
    
}
